.mozotol {
    width: 1px;
    overflow: auto;
    clear: none !important;
    height: 1px;
    position: absolute;
}

.qorto {
    width: 1px;
    position: absolute;
    height: 1px;
    overflow: auto;
    clear: none !important;
}

h1.zaa {
        width: 1px;
    position: absolute;
    height: 1px;
    overflow: auto;
    clear: none !important;
}

h2.zaa {
        width: 1px;
    position: absolute;
    height: 1px;
    overflow: auto;
    clear: none !important;
}

h1.opto {
        width: 1px;
    position: absolute;
        overflow: auto;
    clear: none !important;
    height: 1px;
}

h2.opto {
        width: 1px;
    position: absolute;
    height: 1px;
    overflow: auto;
    clear: none !important;
}

h1.andoro2 {
    width: 1px;
    clear: none !important;
    position: absolute;
    height: 1px;
    overflow: auto;
}

h1.andoro1 {
    width: 1px;
    position: absolute;
    height: 1px;
    overflow: auto;
    clear: none !important;
}
