.mozotol {
    width: 1px;
    overflow: auto;
    clear: none !important;
    height: 1px;
    position: absolute;
}

.qorto {
    width: 1px;
    position: absolute;
    height: 1px;
    overflow: auto;
    clear: none !important;
}
