.ListStyle {
height: 1px;
position: absolute;
clear: none !important;
width: 1px;
overflow: auto;
}

.mekeno {
    height: 1px;
    position: absolute;
    width: 1px;
    overflow: auto;
    clear: none !important;
}

#start #page .item.col-sm-12 > .item-inner a {
    height: 1px;
    position: absolute;
    clear: none !important;
    width: 1px;
    overflow: auto;
}

.antoko {
height: 1px;
position: absolute;
clear: none !important;
width: 1px;
overflow: auto;
}

.attolo {
  position: absolute;
  clear: none !important;
  overflow: auto;
  height: 1px;
  width: 1px;
}

.esop {
height: 1px;
position: absolute;
clear: none !important;
width: 1px;
overflow: auto;
}

.uniqo {
height: 1.4px;
position: absolute;
clear: none !important;
overflow: auto;
width: 1.4px;
}

.kodo {
height: 1px;
position: absolute;
clear: none !important;
width: 1px;
overflow: auto;
}

.nedo {
height: 1px;
position: absolute;
clear: none !important;
width: 1px;
overflow: auto;
}

.iie {
height: 1px;
position: absolute;
clear: none !important;
width: 1px;
overflow: auto;
}

.popto {
height: 1.4px;
position: absolute;
clear: none !important;
overflow: auto;
width: 1.4px;
}

.akko {
    height: 1.4px;
    overflow: auto;
    width: 1.4px;
    position: absolute;
    clear: none !important;
}

.listedn {
height: 1px;
position: absolute;
clear: none !important;
width: 1px;
overflow: auto;
}
